/*-----sass variables-----*/
$main-color:rgb(74, 40, 40);
$body-color:  #f9f9f9;
$link-hover-color: rgb(236, 186, 186);
$btn-hover-color: #fff;
$main-font:'Cinzel', serif;
$body-font: 'Times New Roman', Times, serif;
